name: Build and Test

on:
  pull_request:
    types:
      - synchronize
      - opened
      - ready_for_review
      - reopened
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: neoforged/actions/checkout@main

      - name: Setup JDK 21
        uses: neoforged/actions/setup-java@main
        with:
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false

      - name: Test
        run: ./gradlew :check

      - name: Publish PR artifacts
        if: ${{ github.event_name == 'pull_request' }}
        uses: neoforged/action-pr-publishing/upload@v1

      - name: Publish Snapshot Build
        if: ${{ github.event_name == 'push' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        run: ./gradlew :publish
