name: publish.yml

on:
  workflow_call:
    release:
      default: false
      required: false
      type: boolean
  workflow_dispatch:
    inputs:
      release:
        default: false
        required: false
        type: boolean
        description: Create a Release

permissions:
  contents: read
  statuses: write

env:
  MAVEN_URL_SNAPSHOTS: https://maven.neoforged.net/snapshots/

jobs:
  release:
    uses: neoforged/actions/.github/workflows/gradle-publish.yml@main
    with:
      java: 21
      gradle_tasks: check publish
      version_task: getVersion -Pneoform_release=${{ inputs.release }}
    secrets:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      MAVEN_USER: ${{ secrets.MAVEN_USER }}
      MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
