name: publish.yml

on:
  workflow_call:
    inputs:
      release:
        default: false
        required: false
        type: boolean
    secrets:
      DISCORD_WEBHOOK:
        required: true
      MAVEN_USER:
        required: true
      MAVEN_PASSWORD:
        required: true
  workflow_dispatch:
    inputs:
      release:
        default: false
        required: false
        type: boolean
        description: Create a Release

permissions:
  contents: read
  statuses: write

jobs:
  release:
    uses: neoforged/actions/.github/workflows/gradle-publish.yml@main
    with:
      java: 21
      pre_gradle_tasks: check -Pneoform_release=${{ inputs.release }}
      gradle_tasks: tagRelease publish -Pneoform_release=${{ inputs.release }}
      version_task: getVersion -Pneoform_release=${{ inputs.release }}
    secrets:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      MAVEN_USER: ${{ secrets.MAVEN_USER }}
      MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
