# This is a basic workflow that is manually triggered

name: Update
run-name: ${{ inputs.new_version && format('Update to {0}', inputs.new_version) || (inputs.update_tools && 'Update Tools' || 'Update') }}

permissions:
  contents: write

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    inputs:
      new_branch:
        description: 'New Branch'
        required: false
      new_version:
        description: 'New Minecraft Version'
        required: false
      update_tools:
        description: 'Update Tools to Latest Versions'
        required: false
        default: true
        type: boolean
      publish:
        description: 'Publish'
        required: false
        default: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    # We are using environment variables here since that lets the shell take care of escaping them as CLI params.
    env:
      NEW_BRANCH: ${{ inputs.new_branch }}
      NEW_VERSION: ${{ inputs.new_version }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Create new Branch
      if: ${{ inputs.new_branch }}
      run: git checkout -b "$NEW_BRANCH" || git checkout -B ${{ inputs.new_branch }} HEAD
    - name: Update Tools
      if: ${{ inputs.update_tools }}
      run: ./gradlew updateTools
    - name: Update Minecraft Version
      if: ${{ inputs.new_version }}
      run: ./gradlew -- updateMinecraft "--version=$NEW_VERSION"
    - name: Update Patches
      run: ./gradlew createPatchWorkspaceForUpdate && ./gradlew createPatches
    - name: Commit Changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add .
        git commit -m "$COMMIT_MESSAGE" || true
      env:
        COMMIT_MESSAGE: ${{ inputs.new_version && format('Update to {0}', inputs.new_version) || (inputs.update_tools && 'Update Tools' || 'Update') }}
    - name: Push Changes
      run: git push -u origin HEAD

  #check:
  #  needs: update
  #  uses: ./.github/workflows/check.yml
  #  with:
  #    branch: ${{ inputs.new_branch || '' }}
  #    version: ${{ inputs.new_version }}
  #    push_changed: true
  #    publish: ${{ inputs.publish }}
  #  secrets: inherit
