# This is a basic workflow that is manually triggered

name: Update
run-name: Update to ${{ inputs.new_version }}

permissions:
  contents: write

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    inputs:
      new_branch:
        description: 'New branch'
        required: false
      new_version:
        description: 'New version'
        required: false
      update_tools:
        description: 'Update tools'
        required: false
        default: true
        type: boolean
      publish:
        description: 'Publish'
        required: false
        default: false
        type: boolean

jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    # We are using environment variables here since that lets the shell take care of escaping them as CLI params.
    env:
      NEW_BRANCH: ${{ inputs.new_branch }}
      NEW_VERSION: ${{ inputs.new_version }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Create new Branch
      if: ${{ inputs.new_branch }}
      run: git checkout -b "NEW_BRANCH" || git checkout -B ${{ inputs.new_branch }} HEAD
    - name: Update Tools
      if: ${{ inputs.update_tools }}
      run: ./gradlew updateTools
    - name: Update Minecraft Version
      if: ${{ inputs.new_version }}
      run: ./gradlew updateMinecraft "--version=$NEW_VERSION"
    - name: Update Patches
      run: ./gradlew createPatchWorkspaceForUpdate && ./gradlew createPatches
    - name: Push Changes
      run: |
        git config --global user.name github-actions
        git config --global user.email 41898282+github-actions[bot]@users.noreply.github.com
        git add .
        git commit -m "Start ${{ inputs.new_version }}" && git push || true

  get-diff:
    needs: update
    name: Get diff
    uses: ./.github/workflows/get-diff.yml
    with:
      old_version: ${{ inputs.old_version }}
      new_branch: ${{ inputs.new_branch }}
      new_version: ${{ inputs.new_version }}

  #check:
  #  needs: update
  #  uses: ./.github/workflows/check.yml
  #  with:
  #    branch: ${{ inputs.new_branch || '' }}
  #    version: ${{ inputs.new_version }}
  #    push_changed: true
  #    publish: ${{ inputs.publish }}
  #  secrets: inherit
